<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoursINF1030"
        tools:targetApi="31">
        <activity
            android:name=".RecyclerViewExample"
            android:exported="false" />
        <activity
            android:name=".labo2.Labo2Sceance2Part2"
            android:exported="false" /> <!-- Voici comment manifester (déclarer) une activité. C'est la premiere etape de l'implementation d'une activite -->
        <activity
            android:name=".SharedPreferencesExampleActivity"
            android:exported="false" />
        <activity
            android:name=".labo2.Labo2Sceance2"
            android:exported="true">

            <!-- Code determinant le point d'entree de notre application, on peut aussi y declarer d'autre intent que notre activite pourra reponde de maniere implicite -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>